<div class="login-container">

  <mat-card class="login-card">
    <h1 class="title">Course Management Login</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <mat-form-field appearance="outline" class="full compact">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Enter email">
        <mat-icon matSuffix>person</mat-icon>

        <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
          Invalid email format.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full compact">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" placeholder="Enter password">
        <mat-icon matSuffix>lock</mat-icon>

        <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
          Password is required.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full login-btn">
        Login
      </button>

    </form>

    <div class="redirect-text">
      Don't have an account?
      <button mat-button class="redirect-btn" (click)="goToRegister()">Register</button>
    </div>

  </mat-card>
</div>
